allow bluetooth proc_bthc:dir search;
allow bluetooth proc_bthc:file r_file_perms;
allow bluetooth bluetooth_persist_file:file r_file_perms;
allow bluetooth wifi_data_file:file r_file_perms;
