type_transition mm-qcamerad system_data_file:sock_file camera_socket "cam_socket0";
type_transition mm-qcamerad system_data_file:sock_file camera_socket "cam_socket1";
allow mm-qcamerad audio_device:chr_file { ioctl read write open };
allow mm-qcamerad audio_device:dir { search };
allow mm-qcamerad camera_socket:sock_file { create unlink write };
