allow mpdecision mpctl_data_file:dir rw_dir_perms;
allow mpdecision mpctl_data_file:file create_file_perms;
allow mpdecision self:capability sys_nice;
allow mpdecision socket_device:dir add_name;
allow mpdecision socket_device:sock_file { write create setattr };
