type qrngd, domain;
type qrngd_exec, exec_type, file_type;
init_daemon_domain(qrngd)

allow qrngd self:capability { dac_override setgid setuid sys_admin };
# FIXME allow qrngd hw_random_device:chr_file { open read };
