type qrngd, domain;
type qrngd_exec, exec_type, file_type;
init_daemon_domain(qrngd)

unconfined_domain(qrngd)
# allow qrngd hw_random_device:chr_file { read open };
allow qrngd self:capability { setuid sys_admin setgid dac_override };

