allow rmt_storage kmem_device:chr_file { read write open };
allow rmt_storage self:capability sys_rawio;
allow rmt_storage ssd_device:blk_file { read write open };

