allow rmt_storage self:capability { sys_rawio };
allow rmt_storage kmem_device:chr_file { open read write };
allow rmt_storage ssd_device:blk_file { open read write };
