allow system_server timerirq_dev:chr_file { read write ioctl open };
allow system_server kgsl-2d0_dev:chr_file { read write open };
allow system_server efs_file:file { read open };

