allow ueventd vfat:dir { search };
allow ueventd vfat:file { getattr open read };
allow ueventd timerirq_device:chr_file { create setattr };
allow ueventd kgsl-2d0_device:chr_file { create setattr };
